/* Christopher Velazquez, 3/10/19 */

table, th, td{
	border-collapse: collapse;
	border: 0.05em solid black;
}

table{
	margin-left: auto;
	margin-right: auto;
	width: 50em;
}

th, td{
	padding: 2em;
	
}