/*
*	Christopher Velazquez
*	2/24/19
*
*/


body
{
	font-variant: small-caps;
	color: blue;
	background-color: yellow;
}

h1
{
	color: red;
	font-family: serif;
	rgb(20, 10 300);
}

title
{
	font-style: italic;
	
	
}



	